/* This is the start of my css */

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 10px;
}

/* Margins are the edges of the site, padding is the edges of the text/content. I.e, imagine a box, 
Outside the box is margin, inside is padding.*/

/* This is the navigation */
nav {
    background-color: #f2b705;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
    /* listing goes clockwise, so pixel count is top -> right -> bottom -> left
    If two numbers, first is assumed top+bottom, second is left+right
    If only one number listed, the padding is assumed for all sides.
    px stands for pixel, vw stands for view widths.*/
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #024873;
    font-weight: 700;
    display: block;
    padding: .8rem 2rem;
}

nav li.active a {
    background-color: #024873;
    color: #f2b705;
}

nav a:hover {
    color:
}